// Fontawesome CDN
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css";

// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Import Bootstrap Select
@import "~bootstrap-select/sass/bootstrap-select.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins";
@import "global";
@import "utilities";

// Custom Components
@import "dropdowns";
@import "navs";
@import "buttons";
@import "cards";
@import "charts";
@import "login";
@import "error";
@import "footer";
@import "pagination";

@font-face {
    font-family: "Vazir";
    src: url("../../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Vazir.woff2") format("woff2"),
        url("../../fonts/Vazir.woff") format("woff"),
        url("../../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    direction: rtl;
    text-align: right !important;
    font-family: "Vazir" !important;
    //   line-height: 1.6;
}

#registerCheckBox::before {
    right: -1.5rem;
}

#registerCheckBox::after {
    right: -1.5rem;
}

.form-control__select {
    border: 1px solid #d1d3e2 !important;

    .dropdown-toggle {
        outline: 0 !important;
        background-color: #fff !important;

        &:hover {
            background-color: #fff !important;
            outline: 0 !important;
        }

        &:active {
            outline: 0 !important;
        }

        &:focus {
            outline: 0 !important;
        }
    }

    .filter-option {
        text-align: right !important;
        color: #777 !important;
    }

    .dropdown-item {
        color: #777 !important;
        background-color: unset !important;
    }
}

.form-group__inner {
    border: 1px solid #d1d3e2 !important;
    background-color: #eaecf4;
}
